# pip3_package
wheel==0.46.3
setuptools==82.0.1

# application
urllib3==2.6.3
certifi==2026.2.25
psutil==7.2.2

PyJWT==2.11.0
pillow==12.1.1
SQLAlchemy==2.0.48

# fastAPI
fastapi==0.135.1
uvicorn==0.41.0
python-multipart==0.0.22
websockets==16.0
argon2-cffi==25.1.0
Jinja2==3.1.6
